.faq_content {
	padding:5rem 0;
	background:$white;
	.column.small-12.large-4 > .row {
		margin:0 0 2rem 0;
	}
}

.faq_hero {
	padding-top:25.78125%;
	background-image:url(../assets/img/faq/hero-1024.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

@media #{$large-up}{
	.faq_hero {
		padding-top:25%;
		background-image:url(../assets/img/faq/hero-2048.jpg);
	}
}

@media #{$large-up}{
	.faq_title h1 {
		font-size:2rem;
	}
}

.faq_section, .sales_section {
	padding:3rem 2rem 2rem !important;
	border-radius:1.5rem;
}

@media #{$large-up}{
	.faq_section:first-child, .sales_section:first-child {
		margin-right:0.5rem;
		margin-left:-0.5rem;
	}
	.faq_section:last-child, .sales_section:last-child {
		margin-left:0.5rem;
		margin-right:-0.5rem;
	}
	.faq_section, .sales_section {
		padding:1rem 1.5rem;
	}
}

.faq_section_heading h2 {
	font-size:2rem;
	color:$black;
	margin:0;
	border-bottom:1px solid $black;
	display:inline-block;
	padding:0;
	line-height:100%;
}

@media #{$large-up}{
	.faq_section_heading h2 {
		font-size:1.8rem;
	}	
}

.faq_content ul li {
	color:$saags-grey;
	line-height:100%;
	margin:1rem 0;
	font-size:1.75rem;
}

.faq_content ul li p {
	color:$saags-grey;
	line-height:100%;
	font-size:1.75rem;
	@media #{$large-up}{
		font-size:1rem;
	}
}

@media #{$large-up}{
	.faq_content ul li {
		font-size:1rem;
	}	
}

.faq_content li:hover {
	cursor:pointer;
}

.faq_content li div.answer {
	display:none;
	margin-top:1rem;
}

.faq_content li.active div.answer {
	display:block;
}

.faq_content li.active {
	font-weight:800;
}

.faq_content li.active div.answer {
}